.bottomBlock {
	padding-right: 20px;
	padding-left: 20px;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}

.spanBot {
	margin-right: 4px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #C4C4C4;
}

.btnLeftPart:first-child {
	margin-right: 4px;
}

.btnRightPart {
	margin-right: 15px;
}

.btnMidPart {
	margin-right: 6px;
}

.spanMidBot {
	position: relative;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	color: #C4C4C4;
	top: -4px;
}

@media all and (min-width: 1024px) {
	.midPart,
	.rightPart{
		display: none;
	}

	.leftPart {
		position: absolute;
		right: 40px;
		top: calc(50% - 25px);
	}

	.btnLeftPart:first-child {
		margin-right: 0;
	}

	.spanBot {
		margin-right: 0;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #333333;
	}
}

.icoDown path,
.icoUp path{
	transition: all .3s ease-in-out;
}

@media all and (min-width: 1540px) {
	.icoUp:hover path{
		fill: #A4CC33;
	}

	.icoDown:hover path{
		fill: #CC3361;
	}
}