h2 {
	margin: 0;
}

.infoBlock {
	margin-bottom: 10px;
}

.topBlock {
	padding-left: 20px;
	padding-right: 20px;
}


.titleBlock {
	margin-bottom: 13px;
}

@media all and (min-width: 1024px) {
	.topBlock {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		flex-basis: 75.6%;
		padding-left: 0;
		padding-right: 0;
	}
}
