.parentImg {
	position: relative;
	width: 320px;
	height: 178px;
}


.imgBlock {
	margin: 0 auto;
	background-image: url("./img/card-image.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 320px;
	height: 100%;

}

.imgBlock2 {
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 320px;
	height: 100%;

}

@media all and (min-width: 650px) {
	.parentImg {
		width: 450px;
		height: 250px;
	}
	.imgBlock {
		background-image: url("./img/card-image.jpg");
		width: 450px;
	}

	.imgBlock2 {
		width: 450px;
	}
}

@media all and (min-width: 1024px) {
	.parentImg {
		width: 190px;
		height: 107px;
	}
	.imgBlock {
		background-image: url("./img/card-image-1024.jpg");
		width: 190px;
	}

	.imgBlock2 {
		width: 190px;
	}
	.parentImg {
		margin-right: 40px;
	}
}