p {
	margin: 0;
}
.itemComment {
	position: relative;
	padding: 2px 3px 2px 40px ;
}

.itemComment {
	margin-top: 30px;
}

.itemComment:after {
	content: '';
	position: absolute;
	width: 3px;
	height: calc(100% - 63px) ;
	left: 8px;
	bottom: 0;
	background-color: #D9D9D9;
}
.img {
	margin-right: 7px;
	width: 20px;
	height: 20px;
}

.nameAuthor {
	margin-right: 7px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #CC6633;
}

.dateCreate {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #999999;
}

.textBody {
	margin-bottom: 14px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #333333;
}

.infoBlock {
	margin-bottom: 10px;
}

.count {
	position: absolute;
	min-width: 40px;
	top: 0;
	left: -10px;
}

.btnBlock {
	margin-bottom: 10px;
}

.buttonComment {
	position: relative;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #999999;
	transition: all .3s ease-in-out;
}

.buttonComment:not(:last-child) {
	margin-right: 27px;
}

.buttonComment:hover {
	color: #CC6633;
}

.buttonComment:active {
	color: #CC3361;
}

.iconBtn {
	display: inline-block;
	position: relative;
	top: 3px;
	margin-right: 5px;
}

.iconBtn path {
	transition: all .3s ease-in-out;
}

.buttonComment:hover .iconBtn path{
	fill: #CC6633;
}





