.authorization {
	padding: 50px 50px 100px 50px;
	font-weight: 400;
	font-size: 28px;
	line-height: 33px;
	text-align: center;
	color: #666666;
	animation: animate_grow 2s infinite;
}

@keyframes animate_grow {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.03, 1.03, 1.03);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}