.btnLeftPart:first-child {
	margin-right: 4px;
}

.btnRightPart {
	margin-right: 15px;
}

.btnMidPart {
	margin-right: 6px;
}

@media all and (min-width: 1024px) {
	.midPart,
	.rightPart{
		display: none;
	}

	.btnLeftPart:first-child {
		margin-right: 0;
	}
}
