.title {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #333333;
}

@media all and (min-width: 1024px) {
	.title {
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 23px;
		color: #333333;
		cursor: pointer;
		transition: all .2s ease-in-out;
	}

	.title:hover {
		color: #CC6633;
		transform: scale(1.03);
	}

	.title:active {
		color: #CC3361;
		transform: scale(.98);
	}
}