.link {
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #999999;
	transition: all .3s ease-in-out;
}

.item {
	padding: 12px 0;
	border-bottom: solid 1px #ECECEC;
	transition: all .3s ease-in-out;
}

.comment,
.share,
.save {
	display: none;
}

.item:active {
	transform: scale(0.9);
}


@media all and (min-width: 1024px) {
	.comment,
	.share,
	.save {
		display: inline;
	}
}

@media all and (min-width: 1540px) {
	.item:hover .link {
		color: #CC6633;
	}

	.item:hover .icoItem path{
		fill: #CC6633;
	}

}

